---
import { Container } from './container';
---

<section class="about">
  <Container>
    <h2 class="title">Time 是什么?</h2>
    <p class="desc">
      Time 是一款免费的开源在线计时器，旨在最大限度地提高注意力并消除干扰。同时运行多个计时器并将它们存储在本地，以便在各个会话中持久保存。无论您是学生、专业人士，Time 都可以帮助您实现目标。
    </p>
    <p class="desc support">
      喜欢 Time?
      <a
        href="https://buymeacoffee.com/moodist"
        rel="noreferrer"
        target="_blank"
      >
        送一杯咖啡给作者!
      </a>
    </p>
  </Container>
</section>

<style>
  .about {
    margin-top: 48px;

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      line-height: 1;
    }

    & .desc {
      line-height: 1.65;
      color: var(--color-foreground-subtle);

      &:not(:last-of-type) {
        margin-bottom: 12px;
      }

      &.support {
        font-size: var(--font-sm);

        & a {
          font-weight: 500;
          color: var(--color-foreground);
          text-decoration: none;
        }
      }
    }
  }
</style>
